### 해야할 것
- 입출구코드별로 톨게이트 이름 넣어서 시각화에 hover_name 지정

In [251]:
%matplotlib inline
import pandas as pd
import os
import requests
import folium
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

In [70]:
# matplotlib에 “AppleGothc”(Mac) 또는 “Malgun Gothic”(Windows) 글꼴 적용

import matplotlib.font_manager as fm

for font in fm.fontManager.ttflist:
    if font.name in ['AppleGothic', 'Malgun Gothic']:
        plt.rcParams['font.family'] = font.name
        break

plt.rcParams['font.family']

['Malgun Gothic']

## 봐야할 톨게이트 코드 -> 총 10개

김포 68 - 김포

인천 11 - 인천

서서울 253 - 안산

청계 64 - 의왕

판교 65 - 성남

대왕판교 69 - 성남

성남 61 - 성남

동서울 190 - 하남 

하남 66 - 하남

구리남양주 62 - 구리

### 2016년 데이터 정제 (서울꺼만)

In [211]:
data_list_2016 = ['1602.csv', '1603.csv', '1604.csv', '1605.csv', '1606.csv',
            '1607.csv', '1608.csv', '1609.csv', '1610.csv', '1611.csv', '1612.csv']

In [212]:
data_2016_1 = pd.read_csv('1601.csv', encoding = 'euc_kr')
data_2016_1.head()

,집계일자,영업소코드,입출구구분코드,TCS하이패스구분코드,고속도로운영기관구분코드,영업형태구분코드,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20160101,11,0,1,0,1,14882,172,173,164,139,1556,17086
1,20160101,11,0,2,0,1,33301,421,385,105,93,1981,36286
2,20160101,11,1,1,0,1,15352,113,180,162,112,1714,17633
3,20160101,11,1,2,0,1,35129,459,437,119,99,2303,38546
4,20160101,12,0,1,0,1,477,2,7,3,2,32,523

In [213]:
data_2016 = data_2016_1.copy()

In [214]:
data_2016.columns

Index(['집계일자', '영업소코드', '입출구구분코드', 'TCS하이패스구분코드', '고속도로운영기관구분코드', '영업형태구분코드',
       '1종교통량', '2종교통량', '3종교통량', '4종교통량', '5종교통량', '6종교통량', '총교통량'],
      dtype='object')

In [215]:
data_2016 = data_2016[data_2016['영업소코드'] == 11]
data_2016 = pd.concat([data_2016, data_2016_1[data_2016_1['영업소코드'] == 68]])
data_2016 = pd.concat([data_2016, data_2016_1[data_2016_1['영업소코드'] == 253]])
data_2016 = pd.concat([data_2016, data_2016_1[data_2016_1['영업소코드'] == 64]])
data_2016 = pd.concat([data_2016, data_2016_1[data_2016_1['영업소코드'] == 65]])
data_2016 = pd.concat([data_2016, data_2016_1[data_2016_1['영업소코드'] == 69]])
data_2016 = pd.concat([data_2016, data_2016_1[data_2016_1['영업소코드'] == 61]])
data_2016 = pd.concat([data_2016, data_2016_1[data_2016_1['영업소코드'] == 190]])
data_2016 = pd.concat([data_2016, data_2016_1[data_2016_1['영업소코드'] == 66]])
data_2016 = pd.concat([data_2016, data_2016_1[data_2016_1['영업소코드'] == 62]])

for csvfile in data_list_2016:
    data_tmp = pd.read_csv(csvfile, encoding='euc_kr')
    data_2016 = pd.concat([data_2016, data_tmp[data_tmp['영업소코드'] == 11]])
    data_2016 = pd.concat([data_2016, data_tmp[data_tmp['영업소코드'] == 68]])
    data_2016 = pd.concat([data_2016, data_tmp[data_tmp['영업소코드'] == 253]])
    data_2016 = pd.concat([data_2016, data_tmp[data_tmp['영업소코드'] == 64]])
    data_2016 = pd.concat([data_2016, data_tmp[data_tmp['영업소코드'] == 65]])
    data_2016 = pd.concat([data_2016, data_tmp[data_tmp['영업소코드'] == 69]])
    data_2016 = pd.concat([data_2016, data_tmp[data_tmp['영업소코드'] == 61]])
    data_2016 = pd.concat([data_2016, data_tmp[data_tmp['영업소코드'] == 190]])
    data_2016 = pd.concat([data_2016, data_tmp[data_tmp['영업소코드'] == 66]])
    data_2016 = pd.concat([data_2016, data_tmp[data_tmp['영업소코드'] == 62]])

In [216]:
data_2016

,집계일자,영업소코드,입출구구분코드,TCS하이패스구분코드,고속도로운영기관구분코드,영업형태구분코드,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20160101,11,0,1,0,1,14882,172,173,164,139,1556,17086
1,20160101,11,0,2,0,1,33301,421,385,105,93,1981,36286
2,20160101,11,1,1,0,1,15352,113,180,162,112,1714,17633
3,20160101,11,1,2,0,1,35129,459,437,119,99,2303,38546
1479,20160102,11,0,1,0,1,14470,271,247,280,367,1651,17286
1480,20160102,11,0,2,0,1,36147,640,440,141,350,2315,40033
1481,20160102,11,1,1,0,1,14983,232,314,254,381,1700,17864
1482,20160102,11,1,2,0,1,37881,712,459,148,388,2461,42049
2954,20160103,11,0,1,0,1,12534,168,140,136,181,1401,14560
2955,20160103,11,0,2,0,1,30142,293,390,74,154,2039,33092
2956,20160103,11,1,1,0,1,13051,110,160,119,189,1569,15198
2957,20160103,11,1,2,0,1,32225,286,416,61,148,2163,35299
4433,20160106,11,0,1,0,1,14007,715,625,891,1499,2005,19742
4434,20160106,11,0,2,0,1,48100,1698,776,409,1218,3846,56047
4435,20160106,11,1,1,0,1,15044,592,1005,855,1345,2150,20991
4436,20160106,11,1,2,0,1,49640,1737,844,443,1573,3895,58132
5912,20160104,11,0,1,0,1,13396,668,520,906,1402,2015,18907
5913,20160104,11,0,2,0,1,47105,1676,744,364,990,3767,54646
5914,20160104,11,1,1,0,1,14098,532,936,941,1159,2059,19725
5915,20160104,11,1,2,0,1,47323,1685,816,371,1243,3806,55244
7391,20160105,11,0,1,0,1,14341,720,565,936,1537,2058,20157
7392,20160105,11,0,2,0,1,48220,1753,838,386,1158,3802,56157
7393,20160105,11,1,1,0,1,14995,609,1088,947,1375,2139,21153
7394,20160105,11,1,2,0,1,49548,1832,856,433,1517,3996,58182
8870,20160107,11,0,1,0,1,14366,691,606,865,1513,2066,20107
8871,20160107,11,0,2,0,1,48311,1625,766,379,1145,3904,56130
8872,20160107,11,1,1,0,1,15158,566,1025,903,1423,2158,21233
8873,20160107,11,1,2,0,1,49820,1669,808,407,1435,4087,58226
10350,20160108,11,0,1,0,1,14640,669,593,894,1479,2104,20379
10351,20160108,11,0,2,0,1,49099,1642,769,367,1048,3883,56808
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34266,20161224,62,1,1,0,1,17992,435,619,560,399,1809,21814
34267,20161224,62,1,2,0,1,68409,1681,1651,1407,1697,3817,78662
35757,20161225,62,0,1,0,1,15667,174,198,135,36,1701,17911
35758,20161225,62,0,2,0,1,58153,810,1231,360,326,3213,64093
35759,20161225,62,1,1,0,1,15183,137,192,161,60,1599,17332
35760,20161225,62,1,2,0,1,55267,578,1188,320,320,2993,60666
37250,20161226,62,0,1,0,1,16403,792,1190,956,481,1954,21776
37251,20161226,62,0,2,0,1,68294,3119,2218,2034,2454,4746,82865
37252,20161226,62,1,1,0,1,14934,738,976,954,469,1796,19867
37253,20161226,62,1,2,0,1,66794,2947,2197,1970,2345,4756,81009
38773,20161227,62,0,1,0,1,15458,818,1148,955,478,1991,20848
38774,20161227,62,0,2,0,1,67689,3367,2298,2378,2531,4677,82940
38775,20161227,62,1,1,0,1,14965,776,1083,1165,492,1848,20329
38776,20161227,62,1,2,0,1,68178,3202,2409,2784,2607,4805,83985
40296,20161228,62,0,1,0,1,15780,851,1208,1010,440,2037,21326
40297,20161228,62,0,2,0,1,69928,3324,2289,2148,2511,4953,85153
40298,20161228,62,1,1,0,1,15518,809,1138,1091,437,1845,20838
40299,20161228,62,1,2,0,1,69030,3134,2305,2424,2513,4838,84244
41818,20161229,62,0,1,0,1,15348,802,1152,898,437,1870,20507
41819,20161229,62,0,2,0,1,66439,3148,2248,1885,2514,4488,80722
41820,20161229,62,1,1,0,1,15661,749,1087,1141,490,1864,20992
41821,20161229,62,1,2,0,1,69123,3153,2324,2416,2475,4831,84322
43340,20161230,62,0,1,0,1,17679,779,1004,809,362,2114,22747
43341,20161230,62,0,2,0,1,72320,2986,2211,1906,2333,4682,86438
43342,20161230,62,1,1,0,1,16875,657,988,1012,404,1967,21903
43343,20161230,62,1,2,0,1,73117,2917,2245,2449,2345,4940,88013
44859,20161231,62,0,1,0,1,18796,382,434,273,143,1918,21946
44860,20161231,62,0,2,0,1,67914,1387,1526,935,1019,3656,76437
44861,20161231,62,1,1,0,1,17804,324,443,478,141,1788,20978
44862,20161231,62,1,2,0,1,66592,1474,1603,1344,1116,3760,75889

In [217]:
data_2016['영업소코드'].unique()

array([ 11,  68, 253,  64,  65,  69,  61, 190,  66,  62], dtype=int64)

### 2017년 데이터 정제

In [218]:
data_list_2017 = ['1702.csv', '1703.csv', '1704.csv', '1705.csv', '1706.csv',
            '1707.csv', '1708.csv', '1709.csv', '1710.csv', '1711.csv', '1712.csv']

In [219]:
data_2017_1 = pd.read_csv('1701.csv', encoding = 'euc_kr')
data_2017_1.head()

,집계일자,영업소코드,입출구구분코드,TCS하이패스구분코드,고속도로운영기관구분코드,영업형태구분코드,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20170102,11,0,1,0,1,12045,561,472,577,894,1759,16308
1,20170102,11,0,2,0,1,48438,1663,779,585,1738,3675,56878
2,20170102,11,1,1,0,1,13285,332,719,478,783,1864,17461
3,20170102,11,1,2,0,1,48655,1569,787,568,1940,3768,57287
4,20170102,12,0,1,0,1,274,11,11,10,3,20,329

In [220]:
data_2017_1.columns

Index(['집계일자', '영업소코드', '입출구구분코드', 'TCS하이패스구분코드', '고속도로운영기관구분코드', '영업형태구분코드',
       '1종교통량', '2종교통량', '3종교통량', '4종교통량', '5종교통량', '6종교통량', '총교통량'],
      dtype='object')

In [221]:
data_2017 = data_2017_1.copy()
data_2017 = data_2017[data_2017['영업소코드'] == 11]
data_2017 = pd.concat([data_2017, data_2017_1[data_2017_1['영업소코드'] == 68]])
data_2017 = pd.concat([data_2017, data_2017_1[data_2017_1['영업소코드'] == 253]])
data_2017 = pd.concat([data_2017, data_2017_1[data_2017_1['영업소코드'] == 64]])
data_2017 = pd.concat([data_2017, data_2017_1[data_2017_1['영업소코드'] == 65]])
data_2017 = pd.concat([data_2017, data_2017_1[data_2017_1['영업소코드'] == 69]])
data_2017 = pd.concat([data_2017, data_2017_1[data_2017_1['영업소코드'] == 61]])
data_2017 = pd.concat([data_2017, data_2017_1[data_2017_1['영업소코드'] == 190]])
data_2017 = pd.concat([data_2017, data_2017_1[data_2017_1['영업소코드'] == 66]])
data_2017 = pd.concat([data_2017, data_2017_1[data_2017_1['영업소코드'] == 62]])

for csvfile in data_list_2017:
    data_tmp = pd.read_csv(csvfile, encoding='euc_kr')
    data_2017 = pd.concat([data_2017, data_tmp[data_tmp['영업소코드'] == 11]])
    data_2017 = pd.concat([data_2017, data_tmp[data_tmp['영업소코드'] == 68]])
    data_2017 = pd.concat([data_2017, data_tmp[data_tmp['영업소코드'] == 253]])
    data_2017 = pd.concat([data_2017, data_tmp[data_tmp['영업소코드'] == 64]])
    data_2017 = pd.concat([data_2017, data_tmp[data_tmp['영업소코드'] == 65]])
    data_2017 = pd.concat([data_2017, data_tmp[data_tmp['영업소코드'] == 69]])
    data_2017 = pd.concat([data_2017, data_tmp[data_tmp['영업소코드'] == 61]])
    data_2017 = pd.concat([data_2017, data_tmp[data_tmp['영업소코드'] == 190]])
    data_2017 = pd.concat([data_2017, data_tmp[data_tmp['영업소코드'] == 66]])
    data_2017 = pd.concat([data_2017, data_tmp[data_tmp['영업소코드'] == 62]])

In [222]:
data_2017

,집계일자,영업소코드,입출구구분코드,TCS하이패스구분코드,고속도로운영기관구분코드,영업형태구분코드,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20170102,11,0,1,0,1,12045,561,472,577,894,1759,16308
1,20170102,11,0,2,0,1,48438,1663,779,585,1738,3675,56878
2,20170102,11,1,1,0,1,13285,332,719,478,783,1864,17461
3,20170102,11,1,2,0,1,48655,1569,787,568,1940,3768,57287
1523,20170101,11,0,1,0,1,13107,137,113,76,62,1481,14976
1524,20170101,11,0,2,0,1,35199,283,357,111,159,2164,38273
1525,20170101,11,1,1,0,1,13902,49,129,77,46,1653,15856
1526,20170101,11,1,2,0,1,37820,268,428,118,143,2365,41142
3046,20170104,11,0,1,0,1,12892,721,524,639,1032,1907,17715
3047,20170104,11,0,2,0,1,50858,1837,858,644,2047,4006,60250
3048,20170104,11,1,1,0,1,14027,421,803,583,890,2023,18747
3049,20170104,11,1,2,0,1,52142,1762,916,715,2349,4104,61988
4569,20170105,11,0,1,0,1,13016,663,540,697,1085,1906,17907
4570,20170105,11,0,2,0,1,50921,1785,859,631,2070,3929,60195
4571,20170105,11,1,1,0,1,14088,410,817,636,1007,2089,19047
4572,20170105,11,1,2,0,1,52456,1836,932,637,2436,4137,62434
6092,20170103,11,0,1,0,1,12718,720,536,657,993,1862,17486
6093,20170103,11,0,2,0,1,50660,1878,873,632,1928,4012,59983
6094,20170103,11,1,1,0,1,13750,442,839,549,840,1930,18350
6095,20170103,11,1,2,0,1,50877,1858,949,681,2297,4045,60707
7615,20170106,11,0,1,0,1,13665,699,609,657,1072,1969,18671
7616,20170106,11,0,2,0,1,52294,1789,842,628,1939,4016,61508
7617,20170106,11,1,1,0,1,14832,420,836,603,910,2038,19639
7618,20170106,11,1,2,0,1,53401,1740,918,711,2424,4135,63329
9138,20170109,11,0,1,0,1,12644,636,522,650,1110,1922,17484
9139,20170109,11,0,2,0,1,50881,1767,853,605,1978,3939,60023
9140,20170109,11,1,1,0,1,13845,367,796,543,1044,2003,18598
9141,20170109,11,1,2,0,1,51712,1741,914,610,2381,4026,61384
10661,20170111,11,0,1,0,1,12958,667,549,585,986,1894,17639
10662,20170111,11,0,2,0,1,50909,1787,901,647,1931,3987,60162
...,...,...,...,...,...,...,...,...,...,...,...,...,...
35470,20171224,62,1,1,0,1,12870,117,138,119,42,1288,14574
35471,20171224,62,1,2,0,1,52416,525,1065,310,238,2578,57132
37010,20171225,62,0,1,0,1,13234,300,436,263,92,1417,15742
37011,20171225,62,0,2,0,1,56436,1387,1403,635,789,3082,63732
37012,20171225,62,1,1,0,1,12428,223,342,308,81,1349,14731
37013,20171225,62,1,2,0,1,54167,1305,1374,567,693,2856,60962
38553,20171226,62,0,1,0,1,14396,647,1149,780,289,1806,19067
38554,20171226,62,0,2,0,1,65686,2987,2147,2121,1997,4353,79291
38555,20171226,62,1,1,0,1,13036,582,936,845,347,1697,17443
38556,20171226,62,1,2,0,1,66938,2982,2201,1955,2014,4583,80673
40096,20171227,62,0,1,0,1,13823,745,1221,837,272,1744,18642
40097,20171227,62,0,2,0,1,66620,3117,2204,2173,2136,4351,80601
40098,20171227,62,1,1,0,1,13042,666,1046,1002,313,1666,17735
40099,20171227,62,1,2,0,1,67536,3170,2183,2438,2232,4465,82024
41639,20171228,62,0,1,0,1,14478,703,1148,827,294,1768,19218
41640,20171228,62,0,2,0,1,67528,3085,2210,2183,2347,4487,81840
41641,20171228,62,1,1,0,1,13591,647,1030,984,325,1742,18319
41642,20171228,62,1,2,0,1,68079,3178,2292,2385,2458,4590,82982
43151,20171229,62,0,1,0,1,16043,696,1152,833,303,1832,20859
43152,20171229,62,0,2,0,1,67600,2894,2139,2136,2251,4340,81360
43153,20171229,62,1,1,0,1,14447,604,931,968,315,1726,18991
43154,20171229,62,1,2,0,1,71320,3078,2239,2468,2335,4661,86101
44530,20171230,62,0,1,0,1,16075,411,513,318,161,1548,19026
44531,20171230,62,0,2,0,1,63782,1394,1467,930,1348,3236,72157
44532,20171230,62,1,1,0,1,15077,369,476,462,175,1610,18169
44533,20171230,62,1,2,0,1,65239,1589,1623,1384,1505,3497,74837
45909,20171231,62,0,1,0,1,14041,134,116,74,14,1390,15769
45910,20171231,62,0,2,0,1,55459,578,1079,225,156,2823,60320
45911,20171231,62,1,1,0,1,13013,109,96,76,25,1195,14514
45912,20171231,62,1,2,0,1,52931,480,1063,232,168,2654,57528

### 2018 데이터 정제

In [223]:
data_list_2018 = ['1802.csv', '1803.csv', '1804.csv', '1805.csv', '1806.csv',
            '1807.csv', '1808.csv', '1809.csv', '1810.csv', '1811.csv', '1812.csv']

In [224]:
data_2018_1 = pd.read_csv('1801.csv', encoding = 'euc_kr')
data_2018_1.head()

,집계일자,영업소코드,입출구구분코드,TCS하이패스구분코드,고속도로운영기관구분코드,영업형태구분코드,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20180101,11,0,1,0,1,10594,141,85,71,64,1271,12226
1,20180101,11,0,2,0,1,33747,424,381,168,181,1990,36891
2,20180101,11,1,1,0,1,11398,81,107,88,33,1354,13061
3,20180101,11,1,2,0,1,36471,396,411,164,179,2244,39865
4,20180101,12,0,1,0,1,294,1,4,2,0,29,330

In [225]:
data_2018 = data_2018_1.copy()
data_2018 = data_2018[data_2018['영업소코드'] == 11]
data_2018 = pd.concat([data_2018, data_2018_1[data_2018_1['영업소코드'] == 68]])
data_2018 = pd.concat([data_2018, data_2018_1[data_2018_1['영업소코드'] == 253]])
data_2018 = pd.concat([data_2018, data_2018_1[data_2018_1['영업소코드'] == 64]])
data_2018 = pd.concat([data_2018, data_2018_1[data_2018_1['영업소코드'] == 65]])
data_2018 = pd.concat([data_2018, data_2018_1[data_2018_1['영업소코드'] == 69]])
data_2018 = pd.concat([data_2018, data_2018_1[data_2018_1['영업소코드'] == 61]])
data_2018 = pd.concat([data_2018, data_2018_1[data_2018_1['영업소코드'] == 190]])
data_2018 = pd.concat([data_2018, data_2018_1[data_2018_1['영업소코드'] == 66]])
data_2018 = pd.concat([data_2018, data_2018_1[data_2018_1['영업소코드'] == 62]])

for csvfile in data_list_2018:
    data_tmp = pd.read_csv(csvfile, encoding='euc_kr')
    data_2018 = pd.concat([data_2018, data_tmp[data_tmp['영업소코드'] == 11]])
    data_2018 = pd.concat([data_2018, data_tmp[data_tmp['영업소코드'] == 68]])
    data_2018 = pd.concat([data_2018, data_tmp[data_tmp['영업소코드'] == 253]])
    data_2018 = pd.concat([data_2018, data_tmp[data_tmp['영업소코드'] == 64]])
    data_2018 = pd.concat([data_2018, data_tmp[data_tmp['영업소코드'] == 65]])
    data_2018 = pd.concat([data_2018, data_tmp[data_tmp['영업소코드'] == 69]])
    data_2018 = pd.concat([data_2018, data_tmp[data_tmp['영업소코드'] == 61]])
    data_2018 = pd.concat([data_2018, data_tmp[data_tmp['영업소코드'] == 190]])
    data_2018 = pd.concat([data_2018, data_tmp[data_tmp['영업소코드'] == 66]])
    data_2018 = pd.concat([data_2018, data_tmp[data_tmp['영업소코드'] == 62]])

In [226]:
data_2018

,집계일자,영업소코드,입출구구분코드,TCS하이패스구분코드,고속도로운영기관구분코드,영업형태구분코드,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20180101,11,0,1,0,1,10594,141,85,71,64,1271,12226
1,20180101,11,0,2,0,1,33747,424,381,168,181,1990,36891
2,20180101,11,1,1,0,1,11398,81,107,88,33,1354,13061
3,20180101,11,1,2,0,1,36471,396,411,164,179,2244,39865
1557,20180102,11,0,1,0,1,10783,538,378,481,651,1586,14417
1558,20180102,11,0,2,0,1,48767,1577,756,599,1883,3674,57256
1559,20180102,11,1,1,0,1,11897,271,580,476,605,1685,15514
1560,20180102,11,1,2,0,1,50508,1585,824,559,2042,3730,59248
3114,20180104,11,0,1,0,1,11099,638,499,526,825,1706,15293
3115,20180104,11,0,2,0,1,50085,1667,792,637,2350,3831,59362
3116,20180104,11,1,1,0,1,12814,298,726,576,729,1834,16977
3117,20180104,11,1,2,0,1,53135,1699,872,672,2535,4062,62975
4671,20180103,11,0,1,0,1,11268,637,509,625,873,1625,15537
4672,20180103,11,0,2,0,1,49939,1794,801,667,2254,3805,59260
4673,20180103,11,1,1,0,1,12690,314,717,598,660,1760,16739
4674,20180103,11,1,2,0,1,52818,1808,878,711,2607,4019,62841
6228,20180105,11,0,1,0,1,11753,600,512,610,832,1753,16060
6229,20180105,11,0,2,0,1,51543,1717,791,677,2283,3961,60972
6230,20180105,11,1,1,0,1,13413,336,658,567,716,1934,17624
6231,20180105,11,1,2,0,1,54180,1728,867,693,2576,4183,64227
7785,20180106,11,0,1,0,1,12590,379,296,347,528,1546,15686
7786,20180106,11,0,2,0,1,43928,968,553,374,1708,2926,50457
7787,20180106,11,1,1,0,1,14075,196,411,344,451,1632,17109
7788,20180106,11,1,2,0,1,47248,1020,603,392,1901,3087,54251
9342,20180107,11,0,1,0,1,10303,162,78,57,72,1214,11886
9343,20180107,11,0,2,0,1,33914,350,408,144,364,2203,37383
9344,20180107,11,1,1,0,1,10653,62,94,52,76,1244,12181
9345,20180107,11,1,2,0,1,35316,349,441,142,342,2272,38862
10898,20180108,11,0,1,0,1,10689,547,420,530,659,1582,14427
10899,20180108,11,0,2,0,1,48381,1624,755,620,2254,3701,57335
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34701,20181223,62,1,1,0,1,12220,148,170,126,50,1322,14036
34702,20181223,62,1,2,0,1,59306,630,1116,406,432,2889,64779
36276,20181224,62,0,1,0,1,13221,493,918,700,190,1702,17224
36277,20181224,62,0,2,0,1,71705,2656,1946,2088,1893,4552,84840
36278,20181224,62,1,1,0,1,12339,420,788,695,189,1657,16088
36279,20181224,62,1,2,0,1,71099,2728,1950,2072,1855,4527,84231
37853,20181225,62,0,1,0,1,11299,290,493,253,81,1271,13687
37854,20181225,62,0,2,0,1,57463,1535,1440,790,1180,2976,65384
37855,20181225,62,1,1,0,1,10625,232,427,343,93,1199,12919
37856,20181225,62,1,2,0,1,53476,1427,1437,1017,1116,2765,61238
39430,20181226,62,0,1,0,1,14996,702,1282,953,378,1715,20026
39431,20181226,62,0,2,0,1,64721,2709,1827,2325,1784,4140,77506
39432,20181226,62,1,1,0,1,11812,498,918,772,240,1561,15801
39433,20181226,62,1,2,0,1,68362,2878,2099,2528,1950,4460,82277
41007,20181227,62,0,1,0,1,13387,624,1148,869,266,1708,18002
41008,20181227,62,0,2,0,1,68611,2984,2167,2329,2084,4343,82518
41009,20181227,62,1,1,0,1,11960,534,952,899,295,1552,16192
41010,20181227,62,1,2,0,1,67199,2943,2213,2658,2144,4397,81554
42585,20181228,62,0,1,0,1,13838,550,983,722,218,1647,17958
42586,20181228,62,0,2,0,1,72048,2812,2093,2293,2042,4476,85764
42587,20181228,62,1,1,0,1,12543,525,923,786,224,1570,16571
42588,20181228,62,1,2,0,1,72763,2905,2148,2498,2108,4749,87171
44148,20181229,62,0,1,0,1,13926,297,445,345,98,1495,16606
44149,20181229,62,0,2,0,1,69238,1355,1432,1429,1157,3521,78132
44150,20181229,62,1,1,0,1,12813,278,458,462,137,1450,15598
44151,20181229,62,1,2,0,1,65678,1493,1528,1789,1249,3577,75314
45711,20181230,62,0,1,0,1,12258,160,167,113,32,1324,14054
45712,20181230,62,0,2,0,1,59816,742,1126,408,298,2913,65303
45713,20181230,62,1,1,0,1,11494,113,153,106,35,1195,13096
45714,20181230,62,1,2,0,1,56098,563,1072,370,266,2706,61075

In [269]:
data_all = pd.concat([data_2016, data_2017])
data_all = pd.concat([data_all, data_2018])
data_all

,집계일자,영업소코드,입출구구분코드,TCS하이패스구분코드,고속도로운영기관구분코드,영업형태구분코드,1종교통량,2종교통량,3종교통량,4종교통량,5종교통량,6종교통량,총교통량
0,20160101,11,0,1,0,1,14882,172,173,164,139,1556,17086
1,20160101,11,0,2,0,1,33301,421,385,105,93,1981,36286
2,20160101,11,1,1,0,1,15352,113,180,162,112,1714,17633
3,20160101,11,1,2,0,1,35129,459,437,119,99,2303,38546
1479,20160102,11,0,1,0,1,14470,271,247,280,367,1651,17286
1480,20160102,11,0,2,0,1,36147,640,440,141,350,2315,40033
1481,20160102,11,1,1,0,1,14983,232,314,254,381,1700,17864
1482,20160102,11,1,2,0,1,37881,712,459,148,388,2461,42049
2954,20160103,11,0,1,0,1,12534,168,140,136,181,1401,14560
2955,20160103,11,0,2,0,1,30142,293,390,74,154,2039,33092
2956,20160103,11,1,1,0,1,13051,110,160,119,189,1569,15198
2957,20160103,11,1,2,0,1,32225,286,416,61,148,2163,35299
4433,20160106,11,0,1,0,1,14007,715,625,891,1499,2005,19742
4434,20160106,11,0,2,0,1,48100,1698,776,409,1218,3846,56047
4435,20160106,11,1,1,0,1,15044,592,1005,855,1345,2150,20991
4436,20160106,11,1,2,0,1,49640,1737,844,443,1573,3895,58132
5912,20160104,11,0,1,0,1,13396,668,520,906,1402,2015,18907
5913,20160104,11,0,2,0,1,47105,1676,744,364,990,3767,54646
5914,20160104,11,1,1,0,1,14098,532,936,941,1159,2059,19725
5915,20160104,11,1,2,0,1,47323,1685,816,371,1243,3806,55244
7391,20160105,11,0,1,0,1,14341,720,565,936,1537,2058,20157
7392,20160105,11,0,2,0,1,48220,1753,838,386,1158,3802,56157
7393,20160105,11,1,1,0,1,14995,609,1088,947,1375,2139,21153
7394,20160105,11,1,2,0,1,49548,1832,856,433,1517,3996,58182
8870,20160107,11,0,1,0,1,14366,691,606,865,1513,2066,20107
8871,20160107,11,0,2,0,1,48311,1625,766,379,1145,3904,56130
8872,20160107,11,1,1,0,1,15158,566,1025,903,1423,2158,21233
8873,20160107,11,1,2,0,1,49820,1669,808,407,1435,4087,58226
10350,20160108,11,0,1,0,1,14640,669,593,894,1479,2104,20379
10351,20160108,11,0,2,0,1,49099,1642,769,367,1048,3883,56808
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34701,20181223,62,1,1,0,1,12220,148,170,126,50,1322,14036
34702,20181223,62,1,2,0,1,59306,630,1116,406,432,2889,64779
36276,20181224,62,0,1,0,1,13221,493,918,700,190,1702,17224
36277,20181224,62,0,2,0,1,71705,2656,1946,2088,1893,4552,84840
36278,20181224,62,1,1,0,1,12339,420,788,695,189,1657,16088
36279,20181224,62,1,2,0,1,71099,2728,1950,2072,1855,4527,84231
37853,20181225,62,0,1,0,1,11299,290,493,253,81,1271,13687
37854,20181225,62,0,2,0,1,57463,1535,1440,790,1180,2976,65384
37855,20181225,62,1,1,0,1,10625,232,427,343,93,1199,12919
37856,20181225,62,1,2,0,1,53476,1427,1437,1017,1116,2765,61238
39430,20181226,62,0,1,0,1,14996,702,1282,953,378,1715,20026
39431,20181226,62,0,2,0,1,64721,2709,1827,2325,1784,4140,77506
39432,20181226,62,1,1,0,1,11812,498,918,772,240,1561,15801
39433,20181226,62,1,2,0,1,68362,2878,2099,2528,1950,4460,82277
41007,20181227,62,0,1,0,1,13387,624,1148,869,266,1708,18002
41008,20181227,62,0,2,0,1,68611,2984,2167,2329,2084,4343,82518
41009,20181227,62,1,1,0,1,11960,534,952,899,295,1552,16192
41010,20181227,62,1,2,0,1,67199,2943,2213,2658,2144,4397,81554
42585,20181228,62,0,1,0,1,13838,550,983,722,218,1647,17958
42586,20181228,62,0,2,0,1,72048,2812,2093,2293,2042,4476,85764
42587,20181228,62,1,1,0,1,12543,525,923,786,224,1570,16571
42588,20181228,62,1,2,0,1,72763,2905,2148,2498,2108,4749,87171
44148,20181229,62,0,1,0,1,13926,297,445,345,98,1495,16606
44149,20181229,62,0,2,0,1,69238,1355,1432,1429,1157,3521,78132
44150,20181229,62,1,1,0,1,12813,278,458,462,137,1450,15598
44151,20181229,62,1,2,0,1,65678,1493,1528,1789,1249,3577,75314
45711,20181230,62,0,1,0,1,12258,160,167,113,32,1324,14054
45712,20181230,62,0,2,0,1,59816,742,1126,408,298,2913,65303
45713,20181230,62,1,1,0,1,11494,113,153,106,35,1195,13096
45714,20181230,62,1,2,0,1,56098,563,1072,370,266,2706,61075

---

### 필요 없는 데이터 drop

In [270]:
data_all = data_all.drop(data_all.columns[[4, 5, 6, 7, 8, 9, 10, 11]], axis=1)
data_all.head()

          집계일자  영업소코드  입출구구분코드  TCS하이패스구분코드   총교통량
0     20160101     11        0            1  17086
1     20160101     11        0            2  36286
2     20160101     11        1            1  17633
3     20160101     11        1            2  38546
1479  20160102     11        0            1  17286

### 집계일자 datetime으로 type 변경 및 집계요일 알아내기

월:0 / 화:1 / 수:2 / 목:3 / 금:4 / 토:5 / 일:6

In [271]:
data_all['집계일자'] = data_all['집계일자'].apply(lambda x: pd.to_datetime(str(x), format='%Y%m%d'))

In [272]:
data_all['집계요일'] = data_all['집계일자'].dt.dayofweek

In [273]:
data_all

            집계일자  영업소코드  입출구구분코드  TCS하이패스구분코드   총교통량  집계요일
0     2016-01-01     11        0            1  17086     4
1     2016-01-01     11        0            2  36286     4
2     2016-01-01     11        1            1  17633     4
3     2016-01-01     11        1            2  38546     4
1479  2016-01-02     11        0            1  17286     5
...          ...    ...      ...          ...    ...   ...
44151 2018-12-29     62        1            2  75314     5
45711 2018-12-30     62        0            1  14054     6
45712 2018-12-30     62        0            2  65303     6
45713 2018-12-30     62        1            1  13096     6
45714 2018-12-30     62        1            2  61075     6

[43740 rows x 6 columns]

### 서울로 향하는 출구 데이터
출구 : 1

#### 월별 총 교통량 분석

1. 해당 월 총합

In [301]:
data_to_seoul_sum = data_all[data_all['입출구구분코드'] == 1]
data_to_seoul_sum['집계일자'] = data_to_seoul_sum['집계일자'].astype(str)
data_to_seoul_sum['집계일자'] = data_to_seoul_sum['집계일자'].apply(lambda x :x[:7])
data_to_seoul_sum

c:\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          집계일자  영업소코드  입출구구분코드  TCS하이패스구분코드   총교통량  집계요일
2      2016-01     11        1            1  17633     4
3      2016-01     11        1            2  38546     4
1481   2016-01     11        1            1  17864     5
1482   2016-01     11        1            2  42049     5
2956   2016-01     11        1            1  15198     6
...        ...    ...      ...          ...    ...   ...
42588  2018-12     62        1            2  87171     4
44150  2018-12     62        1            1  15598     5
44151  2018-12     62        1            2  75314     5
45713  2018-12     62        1            1  13096     6
45714  2018-12     62        1            2  61075     6

[21870 rows x 6 columns]

In [302]:
data_to_seoul_sum = data_to_seoul_sum.groupby(['집계일자','영업소코드'])['총교통량'].sum().reset_index()
data_to_seoul_sum.sort_values(['집계일자', '영업소코드'], ascending=True)

        집계일자  영업소코드     총교통량
0    2016-01     11  2229528
1    2016-01     61  2269633
2    2016-01     62  2903362
3    2016-01     64  2679878
4    2016-01     65  1732435
..       ...    ...      ...
355  2018-12     66   476905
356  2018-12     68  2917687
357  2018-12     69   136192
358  2018-12    190  1975390
359  2018-12    253  2798454

[360 rows x 3 columns]

In [303]:
fig = px.line(data_to_seoul_sum,
       x = '집계일자', y='총교통량', color = '영업소코드')
fig.update_layout(xaxis_rangeslider_visible=True)

많은 순서대로 : 
62(구리남양주) - 68(김포) - 253(서서울) - 64(청계) - 61(성남) - 11(인천) - 190(동서울) - 65(판교) - 66(하남) - 69(대왕판교)

64 61 의 경우 2017년 10월 교통량의 합의 차이가 크게 줄고, 이후 계속해서 비슷한 값을 보인다.

2-1. 평일 - median

In [305]:
data_to_seoul_weekday_med = data_all[data_all['입출구구분코드'] == 1]

In [307]:
# 0부터 4까지. 월요일부터 금요일 데이터만 뽑기
data_to_seoul_weekday_med = data_to_seoul_weekday_med[data_to_seoul_weekday_med['집계요일']<=4]

In [308]:
data_to_seoul_weekday_med['집계일자'] = data_to_seoul_sum['집계일자'].astype(str)
data_to_seoul_sum['집계일자'] = data_to_seoul_sum['집계일자'].apply(lambda x :x[:7])

            집계일자  영업소코드  입출구구분코드  TCS하이패스구분코드   총교통량  집계요일
2     2016-01-01     11        1            1  17633     4
3     2016-01-01     11        1            2  38546     4
4435  2016-01-06     11        1            1  20991     2
4436  2016-01-06     11        1            2  58132     2
5914  2016-01-04     11        1            1  19725     0
...          ...    ...      ...          ...    ...   ...
39433 2018-12-26     62        1            2  82277     2
41009 2018-12-27     62        1            1  16192     3
41010 2018-12-27     62        1            2  81554     3
42587 2018-12-28     62        1            1  16571     4
42588 2018-12-28     62        1            2  87171     4

[15600 rows x 6 columns]

2-2. 주말 - median

### 서울에서 나가는 데이터

1. 해당 월 총합

In [296]:
data_from_seoul = data_all[data_all['입출구구분코드'] == 0]
data_from_seoul['집계일자'] = data_from_seoul['집계일자'].astype(str)
data_from_seoul['집계일자'] = data_from_seoul['집계일자'].apply(lambda x :x[:7])
data_from_seoul

c:\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          집계일자  영업소코드  입출구구분코드  TCS하이패스구분코드   총교통량  집계요일
0      2016-01     11        0            1  17086     4
1      2016-01     11        0            2  36286     4
1479   2016-01     11        0            1  17286     5
1480   2016-01     11        0            2  40033     5
2954   2016-01     11        0            1  14560     6
...        ...    ...      ...          ...    ...   ...
42586  2018-12     62        0            2  85764     4
44148  2018-12     62        0            1  16606     5
44149  2018-12     62        0            2  78132     5
45711  2018-12     62        0            1  14054     6
45712  2018-12     62        0            2  65303     6

[21870 rows x 6 columns]

In [297]:
data_from_seoul = data_from_seoul.groupby(['집계일자','영업소코드'])['총교통량'].sum().reset_index()
data_from_seoul.sort_values(['집계일자', '영업소코드'], ascending=True)

        집계일자  영업소코드     총교통량
0    2016-01     11  2140585
1    2016-01     61  2380547
2    2016-01     62  2938974
3    2016-01     64  2576103
4    2016-01     65  1575638
..       ...    ...      ...
355  2018-12     66   524553
356  2018-12     68  2700778
357  2018-12     69    86309
358  2018-12    190  2012384
359  2018-12    253  2845121

[360 rows x 3 columns]

In [298]:
fig = px.line(data_to_seoul,
       x = '집계일자', y='총교통량', color = '영업소코드')
fig.update_layout(xaxis_rangeslider_visible=True)

많은 순서대로 <br>
: 62 - 253 - 68 - <br>
2017.10 이전 (64 의왕 - 61 성남) - 11 - 190  - 65 - 66 - 69<br>
2017.10 이후 (61 성남 - 64 성남) - 11 - 190  - 65 - 66 - 69<br>

이유가 뭘까?<br>
청약, 신도시 등으로 인한 인구증가?

In [ ]:
월

---

### 계절별 교통량 분석
어떤 계절에 어느 달에 차가 많을까? 운전하지 말아야짓!!

겨울 : 1월, 2월, 11월, 12월
/봄 : 3월, 4월, 5월
/여름 : 6월, 7월, 8월
/가을 : 9월, 10월

EDA 해볼 것
* 특정 시간대 (11월 첫째주에 서울에서 안산을 가려고 하는데 월화수목금 중 하루를 정해줘! <br> (반대의 경우도 수행 - 각 톨게이트 맡은 사람이 분석)) --> 이건 의미가 있을까? 교통량으로만 봤을 때 막힐지 이런건 알 수 없잖아요?
* 튀는 데이터를 찾고 이유를 찾아보자
* 봄/여름/가을/겨울에 가장 교통량이 많을 때 --> 이때는 차 운전하지 말자
* 나는 성남에 사는 사람이야! 서울에 회사가 있는데 연차 쓰려구 하는데 언제 쉴까 ? 월요일? 금요일? 
* @ 전체적인 톨게이트 교통량 비교 --> 서울로 향할 때 교통량이 가장 많은 곳 등등,,, 그래프 여러개 한번에 띄워서,,,
* 배추가격 예측 유튜브를 이용해 교통량 예측!
* 날씨, 날짜, 요일에 따른 교통량 예측

* 다혜
각 톨게이트에서 서울로 향해가는 연도별, 월별 시각화/요일별 시각화
* 은지
선형회귀 똑같이 따라했으나 좀 더 확인이 필요
* 단비
계절별 교통량 데이터 분석 및 예측 --> 어느 계절에 어느 달을 추천

교통량 분석 -->

EDA 결과
* 명절에 교통량이 제일 많은 것이 아니다!
* 교통량 1등 톨게이트는 계속 1등임